.content__ground .row {
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .content__ground .row .card {
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    margin: 30px;
    margin-top:50px;
    margin-bottom: 50px;
    padding:20px;
    text-align: center;
    width: 150px;
    margin-bottom: 40px;
  }
  h3{
    margin:5px;
  }
  p{
    margin-top:10px;
  }
  